<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Все Звания</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<main role="main">



    <div class="container">

        <div class="row">
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Experience Name</th>
                    <th scope="col">Coefficient</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="el:${experiences}">
                    <!--                        <th scope="row" th:text="${el.id}"/>-->
                    <th><a th:text="${el.id}" th:href="@{/experiences/}+${el.id}"/></th>
                    <td th:text="${el.experience}"/>
                    <td th:text="${el.coefficient}"/>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</main>
<footer th:insert="blocks/footer::footer"></footer>
<script>
    $(document).ready(function(){
        var show = false;
        $("#formAdd").hide();
        $("#show").click(function(){
            if(show==false) {
                $("#formAdd").show();
                show = true;
            }
            else {
                $("#formAdd").hide();
                show = false;
            }

        });
    });
</script>
</body>
</html>