<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>О модели</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<main role="main" class="container">
    <div th:each="modelOne:${model}" class="jumbotron">
        <h3 th:text='${"Модель: "+modelOne.name}'/>
        <a th:href="@{/models/}+${modelOne.id}+@{/update}"><button type="button" class="btn btn-primary">Изменить</button></a>
        <a th:href="@{/models/}+${modelOne.id}+@{/remove}"><button type="button" class="btn btn-danger">Удалить</button></a>
    </div>
    <div th:if="${model.size()==0}" class="jumbotron">
        <h1>Не найдено</h1>
    </div>
</main>
<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>