<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<main role="main" class="container">
    <div class="container" style="text-align: center">
        <h3 th:text='${"Информация о заказе №"+order.get(0).id}'/>
    </div>
    <div th:each="orderOne:${order}" class="jumbotron">
        <h3 th:if="${orderOne.client==null}" th:text='${"Имя клиента: "+orderOne.name}'/>
        <h3 th:if="${orderOne.client==null}" th:text='${"Тел. клиента: "+orderOne.number}'/>
        <h3 th:if="${orderOne.client!=null}" th:text='${"Имя клиента: "+orderOne.client.clientName}'/>
        <h3 th:if="${orderOne.client!=null}" th:text='${"Тел. клиента: "+orderOne.client.phoneNumber}'/>
        <h3 th:if="${orderOne.type!=null}" th:text='${"Тип устройства: "+orderOne.type.name+" "+orderOne.model.name}'/>
        <h3 th:text='${"Модель Устройства: "+orderOne.modelCompany}'/>
        <h3 th:text='${"Дата приема: "+orderOne.getAcceptedDateByFormat()}'/>
        <h3 th:text='${"Проблема: "+orderOne.problem}'/>
        <h3 th:text='${"Кто принял: "+orderOne.acceptedUser.getFname()+" "+orderOne.acceptedUser.getLname()}'/>
        <h3 th:if="${orderOne.comment!=null}" th:text='${"Комментарий: "+orderOne.comment}'/>
        <h3  th:if='${orderOne.status.toString().equals("NOTDONE")}'>Статус: Не Сделано</h3>
        <h3  th:if='${orderOne.status.toString().equals("DONE")}'>Статус: Сделано</h3>
        <h3  th:if='${orderOne.status.toString().equals("GIVEN")}'>Статус: Выдано</h3>
        <h3  th:if='${orderOne.status.toString().equals("WENTCASHIER")}'>Статус: Ожидается платеж</h3>
        <table th:if="${orderOne.items!=null}" class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Service/Product Name</th>
                <th scope="col">Service/Product Price</th>
                <th scope="col">Quantity</th>d
                <th scope="col">Price include</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el:${orderOne.items}">
                <!--                        <th scope="row" th:text="${el.id}"/>-->
                <td th:if="${el.service!=null}" th:text="@{Service}"/>
                <td th:if="${el.service!=null}" th:text="${el.service.service_name}"/>
                <td th:if="${el.service!=null}" th:text="${el.soldPrice}"/>
                <td th:if="${el.service!=null}" th:text="${el.quantity}"/>
                <td th:if="${el.service!=null}" th:text="${el.quantity*el.soldPrice}"/>
                <!--PRODUCTS-->
                <td th:if="${el.product!=null}" th:text="@{Product}"/>
                <td th:if="${el.product!=null}" th:text="${el.product.product_name}"/>
                <td th:if="${el.product!=null}" th:text="${el.soldPrice}"/>
                <td th:if="${el.product!=null}" th:text="${el.quantity}"/>
                <td th:if="${el.product!=null}" th:text="${el.quantity*el.soldPrice}"/>
            </tr>
            </tbody>
        </table>

        <h3 th:if="${orderOne.price>0&&orderOne.client==null}" th:text='${"Итого: "+orderOne.getSumWithDiscount()}'/>
        <h3 th:if="${orderOne.price>0&&orderOne.client!=null}" th:text='${"Сумма со скидкой: "+orderOne.getSumWithDiscount()}'/>
        <h3 th:if="${orderOne.doneUser!=null}" th:text='${"Кто сделал: "+orderOne.doneUser.getFname()+" "+orderOne.doneUser.getLname()}'/>
        <h3 th:if="${orderOne.donedate!=null}" th:text='${"Когда сделал: "+orderOne.getDoneDateByFormat()}'/>
        <h3 th:if="${orderOne.notified!=null}" th:text='${"Уведомлено: "+((orderOne.notified) ? "Да":"Нет")}'/>
        <h3 th:if="${orderOne.giveUser!=null}" th:text='${"Кто отдал: "+orderOne.giveUser.getFname()+" "+orderOne.giveUser.getLname()}'/>
        <h3 th:if="${orderOne.gavedate!=null}" th:text='${"Забрал: "+orderOne.getGaveDateByFormat()}'/>
        <h3  th:if='${orderOne.typesOfPayments!=null&&orderOne.typesOfPayments.toString().equals("cash")}' th:text='${"Способ Оплаты: Наличными"}'/>
        <h3 th:if='${orderOne.typesOfPayments!=null&&orderOne.typesOfPayments.toString().equals("contract")}' th:text='${"Способ Оплаты: Договор"}'/>
        <h3 th:if='${orderOne.typesOfPayments!=null&&orderOne.typesOfPayments.toString().equals("online")}' th:text='${"Способ Оплаты: Онлайн перевод"}'/>
        <br>
        <div class="w-100">&nbsp;</div>
        <select th:if='${orderOne.status.toString().equals("WENTCASHIER")&&orderOne.typesOfPayments==null}' class="form-control" id="type"   name="payment">
            <option th:value='${"/orders/"+orderOne.id+"/payment/cash"}'>Наличными</option>
            <option th:value='${"/orders/"+orderOne.id+"/payment/contract"}'>По Договору</option>
            <option th:value='${"/orders/"+orderOne.id+"/payment/online"}'>Перевод</option>
            <option th:value='${"/orders/"+orderOne.id+"/payment/adverb"}'>Долг</option>
        </select>
        <br>
        <button th:if='${orderOne.status.toString().equals("WENTCASHIER")&&orderOne.typesOfPayments==null}' onclick="onInput()" type="button" class="btn btn-primary w-100">Выбрать</button>
    </div>
    <div th:if="${order.size()==0}" class="jumbotron">
        <h1>Не найдено</h1>
    </div>
</main>
<footer th:insert="blocks/footer::footer"></footer>

<script>
    function onInput() {
        const sb = document.querySelector('#type');
        window.location.replace(sb.value);
    }
</script>
</body>
</html>
