<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <form th:action="@{/orders/add}" method="post">
                <input type="text" name="client_name" placeholder="Имя клиента" required class="form-control"><br>
                <input type="tel" name="client_number" placeholder="Номер клиента" required class="form-control"><br>
                <textarea  name="problem" placeholder="Проблема" required class="form-control"></textarea><br>
                <button type="submit" class="btn btn-success">Добавить</button><br>
            </form>
        </div>
    </section>

        <div class="container">

            <div class="row">
                <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="el:${orders}">
<!--                        <th scope="row" th:text="${el.id}"/>-->
                        <th><a th:text="${el.id}" th:href="@{/orders/}+${el.id}"/></th>
                        <td th:text="${el.client_name}"/>
                        <td th:text="${el.client_number}"/>
                        <td style="color: white" th:if='${el.status.toString().equals("NOTDONE")}'>Не Сделано</td>
                        <td style="color: yellow" th:if='${el.status.toString().equals("DONE")}'>Сделано</td>
                        <td style="color: lawngreen" th:if='${el.status.toString().equals("GIVEN")}'>Выдано</td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>

</main>
<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>