<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<main role="main" class="row" style="border-bottom: 1px solid black; padding-bottom: 10px">
    <div class="col-4" style="text-align: center">
    <h1 style="font-size: small" th:text='${"QRCode заказа №"+order.id}' />
    <img th:src='${"http://api.qrserver.com/v1/create-qr-code/?data=http://webportal-service.herokuapp.com/orders/"+order.id+"&size=100x100"}'>
    </div>
    <div class="col-8 row" style="border-left: 1px solid black;">
        <div class="w-100" style="text-align: center">
        <h1 style="font-size: small" th:text='${"QRCode заказа №"+order.id}' />
        </div>
        <div class="col-8">
            <h1 style="font-size: small" th:text='${"Дата приема: "+order.getDateByFormat()}' />
            <h1 th:if="${order.model!=null&&order.type!=null}" style="font-size: small" th:text='${"Тип устройства: "+order.type.name+" "+order.model.name}' />
            <h1 style="font-size: small" th:text='${"Принял мастер: "+order.acceptedUser.lname+" "+order.acceptedUser.fname}' />
            <h1 style="font-size: small" th:text='${"Номер мастера: "+order.acceptedUser.phoneNumber}' />
            <h1 th:if="${order.comment!=null}" style="font-size: small" th:text='${"Комментарии: "+order.comment}' />
        </div>
            <div class="col-4">
                <img th:src='${"http://api.qrserver.com/v1/create-qr-code/?data=http://webportal-service.herokuapp.com/client/"+order.id+"&size=100x100"}'>
            </div>

    </div>
    <div th:if="${order==null}" class="jumbotron">
        <h1>Не найдено</h1>
    </div>
</main>

</body>
</html>