<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<main role="main" class="container">
    <div th:each="orderOne:${order}" class="jumbotron">
        <h3 th:text='${"Имя клиента: "+orderOne.client_name}'/>
        <h3 th:text='${"Номер клиента: "+orderOne.client_number}'/>
        <h3 th:if="${orderOne.type!=null}" th:text='${"Тип устройства: "+orderOne.type.name}'/>
        <h3 th:if="${orderOne.model!=null}" th:text='${"Модель устройства: "+orderOne.model.name}'/>
        <h3 th:text='${"Дата приема: "+orderOne.accepted_date.toString()}'/>
        <h3 th:text='${"Проблема: "+orderOne.problem}'/>
        <h3 th:text='${"Кто принял: "+orderOne.acceptedUser.getFname()+" "+orderOne.acceptedUser.getLname()}'/>
        <h3  th:if='${orderOne.status.toString().equals("NOTDONE")}'>Статус: Не Сделано</h3>
        <h3  th:if='${orderOne.status.toString().equals("DONE")}'>Статус: Сделано</h3>
        <h3  th:if='${orderOne.status.toString().equals("GIVEN")}'>Статус: Выдано</h3>
        <table th:if="${orderOne.items!=null}" class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Service/Product Name</th>
                <th scope="col">Service/Product Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price include</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el:${orderOne.items}">
                <!--                        <th scope="row" th:text="${el.id}"/>-->
                <th th:if="${el.service!=null}"><a th:text="${el.service.id}" th:href="@{/services/}+${el.service.id}"/></th>
                <td th:if="${el.service!=null}" th:text="@{Service}"/>
                <td th:if="${el.service!=null}" th:text="${el.service.service_name}"/>
                <td th:if="${el.service!=null}" th:text="${el.service.price}"/>
                <td th:if="${el.service!=null}" th:text="${el.quantity}"/>
                <td th:if="${el.service!=null}" th:text="${el.quantity*el.service.price}"/>
                <td th:if="${el.service!=null}"><a th:href="@{/orders/}+${el.order.id}+@{/remove/}+${el.id}"><button class="btn btn-danger" th:text="@{Delete}"/></a></td>
                <!--PRODUCTS-->

                <th th:if="${el.product!=null}"><a th:text="${el.product.id}" th:href="@{/products/}+${el.product.id}"/></th>
                <td th:if="${el.product!=null}" th:text="@{Product}"/>
                <td th:if="${el.product!=null}" th:text="${el.product.product_name}"/>
                <td th:if="${el.product!=null}" th:text="${el.product.price}"/>
                <td th:if="${el.product!=null}" th:text="${el.quantity}"/>
                <td th:if="${el.product!=null}" th:text="${el.quantity*el.product.price}"/>
                <td th:if="${el.product!=null}"><a th:href="@{/orders/}+${el.order.id}+@{/remove/}+${el.id}"><button class="btn btn-danger" th:text="@{Delete}"/></a></td>
            </tr>

            </tbody>
        </table>

        <h3 th:if="${orderOne.price>0}" th:text='${"Цена: "+orderOne.price}'/>
        <h3 th:if="${orderOne.doneUser!=null}" th:text='${"Кто сделал: "+orderOne.doneUser.getFname()+" "+orderOne.doneUser.getLname()}'/>
        <h3 th:if="${orderOne.giveUser!=null}" th:text='${"Кто отдал: "+orderOne.giveUser.getFname()+" "+orderOne.giveUser.getLname()}'/>
        <h3 th:if="${orderOne.gave_date!=null}" th:text='${"Забрал: "+orderOne.gave_date.toString()}'/>
        <a th:href="@{/orders/}+${orderOne.id}+@{/update}"><button type="button" class="btn btn-primary">Добавить Услугу</button></a>
        <a th:href="@{/orders/}+${orderOne.id}+@{/add/product}"><button type="button" class="btn btn-primary">Добавить Товар</button></a>
        <a th:href="@{/orders/}+${orderOne.id}+@{/done}"><button type="button" class="btn btn-warning">Сделал</button></a>
        <a th:href="@{/orders/}+${orderOne.id}+@{/given}"><button type="button" class="btn btn-success">Отдал</button></a>
        <a th:href="@{/orders/}+${orderOne.id}+@{/remove}"><button type="button" class="btn btn-danger">Удалить</button></a>
        <a th:href="@{/orders/}+${orderOne.id}+@{/QRCode}"><button type="button" class="btn btn-primary">QRCode</button></a>
    </div>
    <div th:if="${order.size()==0}" class="jumbotron">
        <h1>Не найдено</h1>
    </div>
</main>
    <footer th:insert="blocks/footer::footer"></footer>
</body>
</html>