<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container" style="text-align: center">
    <form method="post" th:action="@{/products/}+${product.id}+@{/add}">
        <br>
        <h2 th:text='${"Добавление "+product.product_name+" в склад"}'/>
        <br>
        <input class="form-control" list="providers" name="provider_id" required id="service" placeholder="Выберите Поставщика"><br>
        <datalist  id="providers">
            <option th:each="el:${providers}" th:value="${el.id}" th:text='${el.provider_name}'/>
        </datalist><br>
        <input type="number" class="form-control" placeholder="Цена за единицу" name="price" required><br>
        <input type="number" class="form-control" placeholder="Количество" name="quantity" required><br>
        <button style="width: 100%" type="submit" class="btn btn-success">Add</button>
    </form>
</div>
<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>