<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Все Товары</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<main role="main">

    <section id="formAdd" class="jumbotron text-center">
        <div class="container">
            <form th:action="@{/products/add}" method="post">
                <input type="text" name="product_name" placeholder="Имя Товара" required class="form-control"><br>
                <textarea  name="description" placeholder="Описание Товара" required class="form-control"></textarea><br>
                <input type="number" name="price" placeholder="Цена Товара" required class="form-control"><br>
                <button type="submit" class="btn btn-success">Добавить</button><br>
            </form>
        </div>
    </section>
    <div class="container d-flex align-items-center justify-content-center margin-bottom-20">
        <br>
        <button id="show" class="btn btn-primary">Новый товар</button>
        <br>
    </div>
    <section class="jumbotron text-center">
        <div class="container">
            <input list="products" class="form-control" name="product" onchange="onInput()" id="product" placeholder="Choose Product">
            <datalist  id="products">
                <option th:each="el:${products}" name="id" th:value='${el.id}' th:text='${"№"+el.id+" "+el.product_name+" "+el.description}'/>
            </datalist>
        </div>
    </section>

    <header>
    </header>
    <div class="container">

        <div class="row">
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Наименование продукта</th>
                    <th scope="col">Описание продукта</th>
                    <th scope="col">Цена</th>
                    <th scope="col">На складе</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="el:${products}">
                    <!--                        <th scope="row" th:text="${el.id}"/>-->
                    <th><a th:text="${el.id}" th:href="@{/products/}+${el.id}"/></th>
                    <td th:text="${el.product_name}"/>
                    <td th:text="${el.description}"/>
                    <td th:text="${el.price}"/>
                    <td th:text="${productService.getCountOfStorage(el.id)}"/>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

</main>
<footer th:insert="blocks/footer::footer"></footer>

<script>
    function onInput() {
        var val = document.getElementById("product").value;
        var opts = document.getElementById('products').childNodes;
        for (var i = 0; i < opts.length; i++) {
            if (opts[i].value === val) {
                window.location.replace('/products/'+opts[i].value);
                break;
            }
        }
    }
</script>
<script>
    $(document).ready(function(){
        var show = false;
        $("#formAdd").hide();
        $("#show").click(function(){
            if(show==false) {
                $("#formAdd").show();
                show = true;
            }
            else {
                $("#formAdd").hide();
                show = false;
            }

        });
    });
</script>
</body>
</html>