<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Типы устройств</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <form th:action="@{/types/add}" method="post">
                <input type="text" name="type_name" placeholder="Тип устройства" required class="form-control"><br>
                <button type="submit" class="btn btn-success">Добавить</button><br>
            </form>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Тип устройства</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="el:${types}">
                    <th><a th:text="${el.id}" th:href="@{/types/}+${el.id}"/></th>
                    <td th:text="${el.name}"/>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</main>
<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>