<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>О User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<main role="main" class="container">
    <div class="jumbotron">
        <h3 th:text='${"Имя: "+user.fname}'/>
        <h3 th:text='${"Фамилия: "+user.lname}'/>
        <h3 th:text='${"Логин: "+user.username}'/>
        <h3 th:text='${"Телефон Номер: "+user.phoneNumber}'/>
        <a th:href="@{/users/}+${user.id}+@{/password}"><button type="button" class="btn btn-primary">Изменить Пароль</button></a>
        <a th:href="@{/users/}+${user.id}+@{/phoneNumber}"><button type="button" class="btn btn-primary">Изменить Номер телефона</button></a>
        <a th:href="@{/users/}+${user.id}+@{/roles}"><button type="button" class="btn btn-primary">Роли</button></a>
        <a th:href="@{/users/}+${user.id}+@{/remove}"><button type="button" class="btn btn-danger">Удалить</button></a>
    </div>
    <div th:if="${user==null}" class="jumbotron">
        <h1>Не найдено</h1>
    </div>
</main>
<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>