
<div th:fragment="header">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">WebPortal</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/login">Login</a>
        <a sec:authorize="isAuthenticated()" class="p-2 text-dark" href="/orders">Заказы</a>
        <a sec:authorize="hasAuthority('MODERATOR')" class="p-2 text-dark" href="/services">Услуги</a>
        <a sec:authorize="hasAuthority('MODERATOR')" class="p-2 text-dark" href="/products">Товары</a>
        <a sec:authorize="isAuthenticated()" class="p-2 text-dark" href="/providers">Поставщики</a>
        <a sec:authorize="isAuthenticated()" class="p-2 text-dark" href="/types">Устройства</a>
        <a sec:authorize="isAuthenticated()" class="p-2 text-dark" href="/models">Модели</a>
        <a sec:authorize="hasAuthority('ADMIN')" class="p-2 text-dark" href="/users">Пользователи</a>
    </nav>
    <div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-danger" value="Выйти"/>
    </form>
    </div>
</div>
</div>